# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# vim garbage
.*.swp
.*.swo

# Executables
*.exe
*.out
*.app

Source/progname.s

#Remove if you start installing files in PatchSource
PatchSource/

#Unignore this - because .lib extension is ignored for libraries
!FaustCode/owl.lib
